{% extends '../../products/customer/navbar.html' %}
{% comment %} {% load math_filters %}  Include your custom filter to calculate subtotal {% endcomment %}

{% block content %}
<div class="container mt-4">

    <h2 class="mb-4">My Orders</h2>

    {% if orders %}
        {% for order in orders %}
            <div class="card mb-3 shadow-sm">
                <div class="card-body">

                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="card-title mb-1">Order ID: {{ order.order_id }}</h5>
                            <p class="text-muted mb-1">Phone: {{ order.phone }}</p>
                            <p class="text-muted mb-1">Created: {{ order.created_at }}</p>
                            <p class="text-muted mb-1">Status: {{ order.status }}</p>
                            <strong>Total: {{ order.total }} RWF</strong>
                        </div>

                            <a href="{% url 'order_items' %}?order_id={{ order.order_id }}" 
                       class="btn btn-primary btn-sm">
                        View Items
                    </a>
 
                    </div>

                </div>
            </div>
        {% endfor %}

    {% else %}
        <p class="text-muted">No orders found.</p>
    {% endif %}
</div>
{% endblock %}