


<!DOCTYPE html>
<html>
<head>
    <title>My Site</title>
</head>
<body>
    <div id="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

<section>
    <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label> Name:</label>
        <input type="text" name ="product_name">
        <label> Description :</label>
        <textarea name="product_description"></textarea>
        <label>Price:</label>
        <input type="text" name="product_price">
        <label>Stock:</label>
        <input type="text" name="product_stock">
        <label>Quantity:</label>
        <input type="text" name="product_quantity">
        <label>Image Upload:</label> 
        <input typ="file" name="product_image">
        
        <input type="submit" value="Submit">
    </form>
</section>