.venv
*/__pycache__/
__pycache__
.gitignore
*.pyc
.DS_Store
.vscode/
.idea/
.env
.env.*
logs/
*.log
coverage/
dist/
build/
*.egg-info/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
htmlcov/
.tox/
.cache/
db.sqlite3
instance/